<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block data_layout %}
    <script type="text/javascript" id="dataLayout">
        let dataLayout = {};
    </script>
{% endblock %}
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
